# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.pyc

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
**/.DS_Store
Thumbs.db
*.bak

# Logs
*.log

# Database
*.db
*.sqlite3

# Frontend
node_modules/
dist/
build/

# Dossiers temporaires
.old/
.tmp/
temp/

# Fichiers de test
.pytest_cache/
.coverage
htmlcov/